<div class="container-fluid">
    <h2>Warranty Info</h2>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Warranty Id</th>
          <th>Product Name</th>
          <th>Product Id</th>
          <th>Customer Mobile</th>
          <th>Customer Name</th>
          <th>Warranty Issue Date</th>
          <th>Warranty Warranty Duration</th>
          <th>Invoice Id</th>
        </tr>
      </thead>
      <tbody id="myTable">
        <tr>
          <td>1</td>
          <td>Sony HeadPhones</td>
          <td>Sony-MX-1000W3</td>
          <td>8700219155</td>
          <td>Rahul Kumar</td>
          <td>12/03/2020</td>
          <td>2 years</td>
          <td>AM-12-005H</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Zenbook Pro</td>
          <td>AS-Ze0089</td>
          <td>87005245</td>
          <td>Sachin</td>
          <td>18/04/2020</td>
          <td>3 years</td>
          <td>AM-42-705U</td>
        </tr>
        <!-- <tr>
          <td>1</td>
          <td>Sony HeadPhones</td>
          <td>Sony-MX-1000W3</td>
          <td>8700219155</td>
          <td>Rahul Kumar</td>
          <td>12/03/2020</td>
          <td>2 years</td>
          <td>AM-12-005H</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Sony HeadPhones</td>
          <td>Sony-MX-1000W3</td>
          <td>8700219155</td>
          <td>Rahul Kumar</td>
          <td>12/03/2020</td>
          <td>2 years</td>
          <td>AM-12-005H</td>
        </tr> -->
      </tbody>
    </table>    
</div>
