<div class="container-fluid">
  <h2>Inward Inventory Info</h2>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>SKU Id</th>
        <th>Inward Time</th>
        <th>Company Name</th>
      </tr>
    </thead>
    <tbody id="myTable">
      <tr>
        <td>45C</td>
        <td>Tata Salt</td>
        <td>TS-1Kg</td>
        <td>08/03/2020, 14:25</td>
        <td>Tata</td>
      </tr>
      <tr>
        <td>21T8</td>
        <td>Catch Chicken Masala</td>
        <td>CCM-200gm</td>
        <td>15/03/2020, 15:25</td>
        <td>Catch</td>
      </tr>
      <tr>
        <td>28SD8</td>
        <td>Rasna Orange</td>
        <td>ROR-1L</td>
        <td>22/03/2020, 09:42</td>
        <td>ITC</td>
      </tr>
      <tr>
        <td>8SD8</td>
        <td>Coke</td>
        <td>CC-1L</td>
        <td>22/03/2020, 09:42</td>
        <td>Coca-Cola</td>
      </tr>
    </tbody>
  </table>    
</div>
<script>
  $(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>